a
{
    color: #eecf7b;
}

.site-header {
    background-color: black;
}

body {
    color: #eecf7b;
    background-color: black;
}

.footer {
    background-color: black;
}

.footer a {
    color: #eecf7b;
}

.highlight {
    background-color: black;
    border-color: gray;
    border-style: dotted;
    border-width: thin;
    color: white
}